html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.kirmizi-bg {
    background-color: red;
    color: white; /* Yazý rengini beyaz olarak ayarla, isteðe baðlý */
}
.sari-bg{
    background-color:yellow;
    color:white;
}

.yesil-bg {
    background-color: green;
    color: white; /* Yazý rengini beyaz olarak ayarla, isteðe baðlý */
}